---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import "../styles/global.css";
import MainHead from "./MainHead.astro";
export interface LayoutProps {
  title?: string;
  description?: string;
  image?: string;
  frontmatter?: any;
  robots?: any;
}

const {
  title = "Astro",
  description = "The blog about astro framework",
  image,
  frontmatter,
  robots,
} = Astro.props as LayoutProps;
---

<html lang="en">
  <MainHead
    title={title}
    description={description}
    image={image}
    frontmatter={frontmatter}
    robots={robots}
  />
  <body>
    <Nav />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
